USE [covid-db]
GO
/****** Object:  Table [covid_reporting].[cases_and_deaths]    Script Date: 1/24/2026 7:43:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [covid_reporting].[cases_and_deaths](
	[country] [varchar](100) NULL,
	[country_code_2_digit] [varchar](2) NULL,
	[country_code_3_digit] [varchar](3) NULL,
	[population] [bigint] NULL,
	[cases_count] [bigint] NULL,
	[deaths_count] [bigint] NULL,
	[reported_date] [date] NULL,
	[source] [varchar](500) NULL
) ON [PRIMARY]
GO
INSERT [covid_reporting].[cases_and_deaths] ([country], [country_code_2_digit], [country_code_3_digit], [population], [cases_count], [deaths_count], [reported_date], [source]) VALUES (N'United Kingdom', N'UK', N'GBR', 66647112, NULL, 31, CAST(N'2020-06-29' AS Date), N'Epidemic intelligence, national daily data')
INSERT [covid_reporting].[cases_and_deaths] ([country], [country_code_2_digit], [country_code_3_digit], [population], [cases_count], [deaths_count], [reported_date], [source]) VALUES (N'United Kingdom', N'UK', N'GBR', 66647112, 0, 0, CAST(N'2020-01-13' AS Date), N'Epidemic intelligence, national daily data')
INSERT [covid_reporting].[cases_and_deaths] ([country], [country_code_2_digit], [country_code_3_digit], [population], [cases_count], [deaths_count], [reported_date], [source]) VALUES (N'United Kingdom', N'UK', N'GBR', 66647112, NULL, 137, CAST(N'2020-10-15' AS Date), N'Epidemic intelligence, national daily data')
GO
