USE [covid-db]
GO
/****** Object:  Table [covid_reporting].[testing]    Script Date: 1/24/2026 7:54:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [covid_reporting].[testing](
	[country] [varchar](100) NULL,
	[country_code_2_digit] [varchar](2) NULL,
	[country_code_3_digit] [varchar](3) NULL,
	[year_week] [varchar](8) NULL,
	[week_start_date] [date] NULL,
	[week_end_date] [date] NULL,
	[new_cases] [bigint] NULL,
	[tests_done] [bigint] NULL,
	[population] [bigint] NULL,
	[testing_data_source] [varchar](500) NULL
) ON [PRIMARY]
GO
INSERT [covid_reporting].[testing] ([country], [country_code_2_digit], [country_code_3_digit], [year_week], [week_start_date], [week_end_date], [new_cases], [tests_done], [population], [testing_data_source]) VALUES (N'Denmark', N'DK', N'DNK', N'2020-W26', CAST(N'2020-06-21' AS Date), CAST(N'2020-06-27' AS Date), 284, 114061, 5806081, N'Country website')
INSERT [covid_reporting].[testing] ([country], [country_code_2_digit], [country_code_3_digit], [year_week], [week_start_date], [week_end_date], [new_cases], [tests_done], [population], [testing_data_source]) VALUES (N'Hungary', N'HU', N'HUN', N'2020-W11', CAST(N'2020-03-08' AS Date), CAST(N'2020-03-14' AS Date), 24, 1232, 9772756, N'TESSy')
INSERT [covid_reporting].[testing] ([country], [country_code_2_digit], [country_code_3_digit], [year_week], [week_start_date], [week_end_date], [new_cases], [tests_done], [population], [testing_data_source]) VALUES (N'Portugal', N'PT', N'PRT', N'2020-W34', CAST(N'2020-08-16' AS Date), CAST(N'2020-08-22' AS Date), 1471, 97015, 10276617, N'TESSy')
GO
